<div class="nested-fields">
	<div class="field">
		<%= f.label :option %>
		<%= f.text_field :answer, class: "form-control", id: "answer" %>		
	</div>
	<div class="remove-link">
		<%= link_to_remove_association "<i class=\"glyphicon glyphicon-plus\"></i> Remove Option".html_safe, f %>
	</div>	
</div>



