<h3 id="survey_header">My Surveys</h3>

<table class="table">
	<thead class="thead">
		<tr>
			<th>Title</th>
		</tr>
	</thead>
	<tbody>
		<% @my_surveys.each do |survey| %>
			<tr id="survey_<%= survey.id%>">
				<th><%= link_to survey.title, survey %></th>
				<th><%= link_to "<i class=\"glyphicon glyphicon-pencil\"></i>".html_safe, edit_survey_path(survey) %> 			| <%= link_to "<i class=\"glyphicon glyphicon-trash\"></i>".html_safe, 
																					survey, method: :delete, remote: true %></th>
			</tr>
		<% end %>	
	</tbody>
</table>	