/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";


/* header */

#logo {
	height: 60px;
	width: 60px;
	border-radius: 30px;
	margin-left: 50px;
	margin-top: 5px;
}

#app_name {
	font-family: Lucidatypewriter, monospace;
	font-size: 30px;
	text-decoration: none;
	color: #efe928;
	cursor: pointer;
}

#app_name:hover {
	color: #fcf40a;
}

.header-link-bar {
	padding-top: 20px;
	margin-right: 50px;
}

.header-bar {
	background: #3d587a;
}

.navbar-inverse .navbar-nav { 
  li {
  	a {
  		color: #6696d1;
  	}
	  a:hover {
	  	color: #223449;
	  	cursor: pointer;
		}
	}
	.open {
		a:focus {
			color: #3d587a;
		}	
	}
}

	/* footer */

footer {
	margin-top: 35%;
	padding-top: 5px;
	border-top: 1px solid #ccc;
	
	a {
		color: #6696d1;
	}
	
	a:hover {
		color: #223449;
		cursor: pointer;
	}

	small {
		margin-left: 5%;
		float: left;
		color: #3d587a;
	}

	ul {
		margin-right :6%;
		float: right;
		list-style: none;
		
		li {
			float: left;
			margin-left: 15px;
		}
	}
}

	/* body content */
	
.notice {
	margin-left: 10%;
	padding: 1px;
	font-size: medium;
	position: fixed;
	border-radius: 5px;
}

.body-content {
	margin-left: 10%;
	margin-top: 80px;
}

	/* devise */

.devise-form {
	padding: 30px;
	padding-top: 20px;
	margin-top: 100px;
	background: #d5deed;
	box-shadow: 10px 10px 5px #888888;
}

.button {
	margin-top: 10px;
}

.error-explanation {
	padding: 10px;
	color: #ce2929;
}	