// Place all the styles related to the public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

	/* index */

#header_id {
	margin-top: 80px;
	width: 80%;
	padding: 3%;
	padding-bottom: 1%;
}

#header_title {
	color: #0f190b;
	text-align: center;
	font-family: Lucidatypewriter, monospace;
	font-size: 40px;
}

#header_message {
	text-align: center;
	font-family: Lucidatypewriter, monospace;
	color: #0f190b;
}

#step_1, #step_3 {
	float: left;
	margin-left: 5%;
	margin-top: 5%;
	padding: 1%;
	width: 30%;
	height: 200px;
	background: #c9f7b7;
	box-shadow: 10px 10px 5px #888888;
}

#step_2, #step_4 {
	float: right;
	margin-right: 15%;
	margin-top: 5%;
	padding: 1%;
	width: 30%;
	height: 200px;
	background: #c9f7b7;
	box-shadow: 10px 10px 5px #888888;
}

.step-content {
	width: 50%;
	float: left;
}

.step-image {
	padding-left: 10px;
	width: 50%;
	float: right;
}

.image {
	height: 175px;
	width: 90%;
	background: white;
}