// Place all the styles related to the surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question-fields {
	padding: 10px;
}

.remove-link {
	width: 100%;
	text-align: right;
	border-bottom: solid 1px #e8eaed;
}

#survey_title {
	font-size: large;
}

.survey-body {
	font-size: medium;
	margin-top: 10px;
}

.option-link {
	display: none;
}
