// Place all the styles related to the surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#successful_message {
	margin-left: 20%;
	padding: 10px;
	color: #83d635;
}