// Place all the styles related to the surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#survey_header {
	padding-top: 20px;
	margin-left: 10%;
}

.question-fields {
	padding: 10px;
}

.remove-link {
	width: 100%;
	text-align: right;
	border-bottom: solid 1px #e8eaed;
}

#survey_title {
	font-size: large;
}

.survey-body {
	font-size: medium;
	margin-top: 10px;
}

.option-link {
	display: none;
}

.feedback {
	display: none;
	border: solid 1px grey;
	padding: 10px;
	width: 80%;
}

.show-answer {
	margin-left: 50%;
	cursor: pointer;
	color: #337ab7;
}

.hide-answer {
	display: none;
	margin-left: 50%;
	cursor: pointer;
	color: #337ab7;
}

#attendee_title {
	width: 170px;
	font-size: 120%;
	padding: 5px;
	border-bottom: solid 1px grey;
	margin-bottom: 10px;
}