<div id="header_id">
	<p id="header_title"> Create Your Survey </p>
	<p id="header_message"><b> In four easy steps. </b></p>
</div>

<div id="step_1">
	<div class="step-content">
		<p> <b>1.</b> Create your questionaire with three types of questions: </p>
		<ul> 
			<li> Subjective </li>
			<li> Multiple Choice </li>
			<li> Multiple Answers </li>
		</ul>
	</div>
	<div class="step-image">
		<img src="<%= asset_path('public/survey.png') %>" class="image"/>
	</div>	
</div>

<div id="step_2">
	<div class="step-content">
		<p> <b>2.</b> Distribute your survey in social media. </p>
	</div>
	<div class="step-image">
		<img src="<%= asset_path('public/social.png') %>" class="image"/>
	</div>	
</div>

<div id="step_3">
	<div class="step-content">
		<p> <b>3.</b> Collect the data of your survey. </p>
	</div>
	<div class="step-image">
		<img src="<%= asset_path('public/database.png') %>" class="image"/>
	</div>
</div>

<div id="step_4">
	<div class="step-content">
		<p> <b>4.</b> Analyze your survey. </p>
	</div>
	<div class="step-image">
		<img src="<%= asset_path('public/pie-sample.png') %>" class="image"/>
	</div>
</div>

<div style="clear:both;"></div>